
# ---------------------------------------------------------------------------- #
#                                     NODE                                     #
# ---------------------------------------------------------------------------- #

# ------------------------------- NODE Modules ------------------------------- #

/node_modules


# ------------------------------ Compiled Output ----------------------------- #

/dist
/tmp
/out-tsc
/bazel-out


# ----------------------------------- Logs ----------------------------------- #

npm-debug.log
yarn-error.log



# ---------------------------------------------------------------------------- #
#                               IDES AND EDITORS                               #
# ---------------------------------------------------------------------------- #

# ---------------------------- Visual Studio Code ---------------------------- #

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# ------------------------------- Miscellaneous ------------------------------ #

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings



# ---------------------------------------------------------------------------- #
#                                 SYSTEM FILES                                 #
# ---------------------------------------------------------------------------- #

.DS_Store
Thumbs.db